<<<<<<< HEAD
ion-item {
    --inner-padding-start: 16px;
    --inner-padding-end: 16px;
    --padding-top: 12px;
    --padding-bottom: 12px;
  }
  
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  p {
    font-size: 0.9rem;
    margin: 0;
  }
=======
ion-item {
    --inner-padding-start: 16px;
    --inner-padding-end: 16px;
    --padding-top: 12px;
    --padding-bottom: 12px;
  }
  
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  p {
    font-size: 0.9rem;
    margin: 0;
  }
>>>>>>> d01e9f552657d0dc62e91ca9826a3f38133f18c0
  