<ion-tabs>
  <!-- Floating QR Button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" (click)="navigateToTab3()">
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Tab Bar Wrapped in Card -->
  <ion-card class="tabs-card">
    <ion-card-content>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-icon name="home"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon name="chatbubbles"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon ></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
          <ion-icon name="document"></ion-icon>
          <ion-label>History</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab5">
          <ion-icon name="person"></ion-icon>
          <ion-label>Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-card-content>
  </ion-card>
</ion-tabs>
