ion-item {
    --min-height: 80px; /* Menambah tinggi item */
    font-size: 1.2rem; /* Memperbesar ukuran font */
    padding: 16px; /* Menambah padding */
  }
  
  ion-avatar {
    --size: 60px; /* Memperbesar ukuran avatar */
  }
  
  ion-label {
    font-size: 1.2rem; /* Memperbesar teks label */
  }
  